html {
    overflow: auto;
}

body {
    overflow: auto;
    filter: invert(85%);
    font-family: 'Roboto';
}

/* Use Roboto font-family */
.text-mono {
    font-family: 'Roboto';
}

.navbar-brand {
    font-family: 'Roboto';
}

.text-clipboard {
    font-family: 'Roboto';
}

.tooltip {
    font-family: 'Roboto';
}

div[colors] .sample-color {
    font-family: 'Roboto';
}

textarea.source-area {
    font-family: 'Roboto';
}

.json-node {
    font-family: 'Roboto';
}

.data-table {
    font-family: 'Roboto';
}

.CodeMirror {
    font-family: 'Roboto';
}

/* Undo color some inversions */
.alert-success {
    background-color: #D2274E;
    color: #000;
}

.alert-warning {
    color: #000;
    background-color: #058F8F
}

.alert-loading {
    color: #BBB;
    background-color: #001999;
}

.nav-pills>li.active>a:hover, .nav-pills>li.active>a, .nav-pills>li.active>a:focus {
    background-color: #F23B5C;
}

.layout.selected {
  background-color: #F23B5C;
}

.dimension {
    background-color: #F23B5C;
}

/* class for adding "Powered by" */
.navbar-brand-helper {
    font-size: 12px;
    text-transform: none
}

section {
    padding: 10px 0px;
}
